* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, rgb(132, 0, 255), rgb(204, 0, 255));
  color: black;
  font-family: sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
header > #heading {
  font-size: 2.5em;
}
header > #heading > #fheading {
  font-weight: lighter;
}
.fa {
  color: white;
  background-color: orangered;
  border-radius: 50%;
  width: auto;
  height: auto;
}

header .button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#fname {
  font-size: 24px;
}
.blur {
  filter: blur(3px);
}
#notodo {
  /* display: none; */
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.addNewList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 30vw;
  height: 30vh;
  border: 2px solid tomato;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 1%;
  color: tomato;
  position: absolute;
  top: 30vh;
  left: 35vw;
  font-size: 1.5em;
  font-weight: 200;
  visibility: hidden;
  transition: 0.5s;
}
.addNewListActive {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.addNewList > input {
  width: 20vw;
  height: 5vh;
  border: 1px solid tomato;
  border-radius: 5px;
  margin: 10px;
}

.btn-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 20%;
  margin: 10px;
}
.btn {
  background-color: tomato;
  color: white;
  width: 100px;
  height: 35px;
  border: none;
  margin: 2%;
  padding: 2%;
  border-radius: 20px;
  cursor: pointer;
}
.list-container {
  margin: 6vw;
  width: 90%;
  height: 100%;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}
.task {
  background: white;
  width: 18vw;
  height: 50vh;
  border: 2px solid tomato;
  border-radius: 10px;
  margin: 2%;
  padding: 2%;
}
.task-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
  font-size: 20px;
}
.material-icons {
  color: orangered;
}
